@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.transparent10 {
  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.modal-in {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  @apply scale-100;
}

.modal-out {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  @apply scale-95;
}

.side-item {
  @apply grid grid-cols-1 md:hover:border md:hover:px-8 py-1 rounded-md transition-all hover:duration-500 ease-in-out;
}

.side-item:hover .legend {
  display: block;
  opacity: 1;
  transition: opacity 2s ease-out;
}

.side-item img {
  @apply justify-self-center object-cover h-8;
}

.legend {
  display: none;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.device {
  display: none;
}

.ipads {
  display: none;
}

.small-desktop {
  display: none;
}

.desktop {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .device {
    display: block;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .ipads {
    display: block;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .small-desktop {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .desktop {
    display: block;
  }
}

.abs-center {
  @apply bottom-1/2 left-1/2 transform -translate-x-1/2 bg-red-500;
}

.teste {
  max-height: 0;
  overflow: hidden;
}
